
body{
    background-color: #10B981;
    size: 125%;
}

#container{
    /* unpopulated-state */
    position: absolute;
    width: 700px;
    height: 550px;
    left: 62px;
    top: 64px;
    margin-left: 15%;

    background: #1F2937;

}


h1{
    /* Heading */

    position: absolute;
    width: 354px;
    height: 80px;
    left: 52px;
    top: 115px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */
    letter-spacing: -0.025em;

    /* white */
    color: #FFFFFF;

}
#second-text{
     /* Heading */

     position: absolute;
     width: 354px;
     height: 80px;
     left: 52px;
     top: 180px;
 
     font-family: 'Karla';
     font-style: normal;
     font-weight: 800;
     font-size: 40px;
     line-height: 40px;
     /* or 100% */
     letter-spacing: -0.025em;
 
     /* white */
     color: #4ADF86;

}


p{
    /* Supporting text */

    position: absolute;
    width: 372px;
    height: 28px;
    left: 52px;
    top: 205px;

    /* text-xl/leading-7/font-normal */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */

    /* Medium grey */
    color: #D5D4D8;
}

#h2{
    color: #4ADF86;
}


#Generate-btn{
    /* Button */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;

    position: absolute;
    width: 195px;
    height: 42px;
    left: 52px;
    top: 284px;

    background: #10B981;
    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    transition-duration: 0.4s;
     /* white */
     color: #FFFFFF;
     /* Text */


    /* text-base/leading-6/font-medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

}


#Generate-btn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}



#span1{
    
    /* Rectangle 95 */
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 396px;

    background: #273549;
    border-radius: 6px;

    color: #4ADF86;
    text-align: center;

}



#span2{
    /* Rectangle 96 */

    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 211px;
    height: 39px;
    left: 287px;
    top: 396px;

    background: #273549;
    border-radius: 6px;
    color: #4ADF86;
    text-align: center;

}



#line{
    /* Line 17 */

    position: absolute;
    width: 446px;
    height: 0px;
    left: 52px;
    top: 361px;

    border: 1px solid #2F3E53;

}

#password-length{
    background-color: #FFFFFF;
    /* Rectangle 96 */

    position: absolute;
    width: 85px;
    height: 42px;
    left: 250px;
    top: 284px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    
    gap: 12px;
    color: black;

}

#copy-click{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    position: absolute;
    width: 25px;
    height: 25px;
    left: 255px;
    top: 385px;
    object-fit: cover;
    opacity: 30%;

    background-color: white;
    background-image: url("copy.png");
}

#copy-click:hover{
    opacity: 100%;  
}

#copy-click2{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    position: absolute;
    width: 25px;
    height: 25px;
    left: 487px;
    top: 385px;
    object-fit: cover;
    opacity: 30%;

    background-color: white;
    background-image: url("copy.png");
}

#copy-click2:hover{
    opacity: 100%;  
}

/* ******************************************************* */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 260px;
    left: 100px;
    margin-left:30px;
    margin-right: 40px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



  .label-btn{
    position: relative;
    display: inline-block;
    top: 250px;
    left: 360px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left:30px;
  }